@model DNS_Test.Models.Employee
    <div class="head">
        <h4>Точно хотите удалить сотрудника?</h4>
        <button id="closeButton" class="btn btn-primary">Закрыть</button>
    </div>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Post)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Post)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Chief)
                </dt>
                <dd>
                    @if (Model.Chief == null)
                    {
                        @Html.DisplayName("Отсутствует");
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Chief.Name);
                    }
                </dd>
                <dd>
                    <form asp-action="DeleteEmployee" asp-controller="Home" data-ajax-method="POST" data-ajax="true" data-ajax-update="#resultOf">
                        <input type="number" value="@Model.Id" name="Id" hidden />
                        <button type="submit" class="btn btn-danger" onclick="{ShowSuccess();selectedId.remove();}">Удалить</button>
                    </form>
                </dd>
            </dl>