@model DNS_Test.Models.Employee

<h3>Точно хотите удалить?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chief)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Chief == null)
            {
                @Html.DisplayName("Отсутствует");
            }
            else
            {
                @Html.DisplayFor(model => model.Chief.Name);
            }
        </dd>
    </dl>
    <!-- КАК ЭТОГО ИЗБЕЖАТЬ? какая то пересылка модели через страницы-->
    <form asp-action="DeleteEmployee">
        <input type="number" value="@Model.Id" name="Id" hidden />
        <input type="text" value="@Model.Post" name="Post" hidden />
        <input type="text" value="@Model.Name" name="Name" hidden />
        <input type="number" value="@Model.Department.Id" name="DepartmentId" hidden />
        <input type="date" value="@Model.Date" name="Date" hidden />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
